* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #333;
  background: #faf0e6;
  line-height: 1.6;
  height: 100%;
}
body {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #17153b;
}

button,
a {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

main {
  padding: 1rem;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  main {
    margin-left: 0;
    padding: 1rem;
  }
}
